/* COMMON STYLES */

body{
    text-align: center;
    background-color: #000!important;
    background-image: url(../img/cover-page.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    font-family: Arial;
}

.welcome{
    text-align: center;
    margin: 10% 0;
}

.welcome h1{
    font-size: 60px;
    color: #fff;
    margin-top: 20px;
}

.welcome h2{
    font-size: 31px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 30px;
    color: #fff;
}

.welcome a {
    background-color: #ffd062;
    padding: 10px 40px;
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.5s ease;
}

.welcome a:hover {
    background-color: #fff;
    color: #000;
    text-decoration: none;
    transition: background-color 0.5s ease;
}

/* COMMON STYLES */


/* media queries --------------------------------------------------------- */

/* /////////////////////////////////////////////////////////////////////// */
/* LARGE DESKTOP ///////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

    @media (min-width: 1200px){

    }

/* /////////////////////////////////////////////////////////////////////// */
/* LARGE DESKTOP /////////////////////////////////////////////////// [END] */
/* /////////////////////////////////////////////////////////////////////// */


 

/* /////////////////////////////////////////////////////////////////////// */
/* SMALL DESKTOP ///////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

    @media (min-width: 768px) and (max-width: 991px){


    }

/* /////////////////////////////////////////////////////////////////////// */
/* SMALL DESKTOP /////////////////////////////////////////////////// [END] */
/* /////////////////////////////////////////////////////////////////////// */

 


/* /////////////////////////////////////////////////////////////////////// */
/* SMALL TABLET & MOBILE ///////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

    @media (max-width: 767px){
        .welcome h1{
            margin-top: 60%;
            font-size: 50px;
        }
        
        .welcome h2{
            font-size: 25px;
        }
    }

/* /////////////////////////////////////////////////////////////////////// */
/* SMALL TABLET & MOBILE /////////////////////////////////////////// [END] */
/* /////////////////////////////////////////////////////////////////////// */




/* /////////////////////////////////////////////////////////////////////// */
/* SMALL DESKTOP & MOBILE COMBINED /////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

    @media (max-width: 991px){
        .welcome h1{
            margin-top: 20%;
        }
    }

/* /////////////////////////////////////////////////////////////////////// */
/* SMALL DESKTOP & MOBILE COMBINED ///////////////////////////////// [END] */
/* /////////////////////////////////////////////////////////////////////// */




/* /////////////////////////////////////////////////////////////////////// */
/* LANDSCAPE PHONES AND DOWN ///////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

    @media (max-width: 480px){
        
    }

/* /////////////////////////////////////////////////////////////////////// */
/* LANDSCAPE PHONES AND DOWN /////////////////////////////////////// [END] */
/* /////////////////////////////////////////////////////////////////////// */




/* /////////////////////////////////////////////////////////////////////// */
/* mobile only background images ///////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

    @media (max-width: 600px){
        
    }

    @media (max-width: 360px){
        
    }

/* /////////////////////////////////////////////////////////////////////// */
/* mobile only background images /////////////////////////////////// [END] */
/* /////////////////////////////////////////////////////////////////////// */

/* media queries --------------------------------------------------- [END] */